@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>New Request</h4>

<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
    <p>Fill all form field to go to next step</p>
    <div class="row">
        <div class="col-md-12 mx-0">
            <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active" id="user"><strong>Details</strong></li>
                    <li id="hardware"><strong>Hardware</strong></li>
                    <li id="clinical"><strong>Clinical Apps</strong></li>
                    <li id="apps"><strong>Other Apps</strong></li>
                    <li id="email"><strong>Email</strong></li>
                </ul> <!-- fieldsets -->
                <fieldset>
                    <div class="form-card">
                        <h2 class="fs-title">User Details</h2>
                        <input type="email" name="email" placeholder="Email Id" />
                        <input type="text" name="uname" placeholder="UserName" />
                        <input type="password" name="pwd" placeholder="Password" /> <input type="password" name="cpwd" placeholder="Confirm Password" />
                    </div>
                    <input type="button" name="next" class="next action-button" value="Next Step" />
                </fieldset>
                <fieldset>
                    <div class="form-card">
                        <h2 class="fs-title">Hardware/Equipment Needs</h2> <input type="text" name="fname" placeholder="First Name" /> <input type="text" name="lname" placeholder="Last Name" /> <input type="text" name="phno" placeholder="Contact No." /> <input type="text" name="phno_2" placeholder="Alternate Contact No." />
                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                </fieldset>
                <fieldset>
                    <div class="form-card">
                        <h2 class="fs-title">Core Clinical Apps</h2>
                        <div class="radio-group">
                            <div class='radio' data-value="credit"><img src="https://i.imgur.com/XzOzVHZ.jpg" width="200px" height="100px"></div>
                            <div class='radio' data-value="paypal"><img src="https://i.imgur.com/jXjwZlj.jpg" width="200px" height="100px"></div> <br>
                        </div> <label class="pay">Card Holder Name*</label> <input type="text" name="holdername" placeholder="" />
                        <div class="row">
                            <div class="col-9"> <label class="pay">Card Number*</label> <input type="text" name="cardno" placeholder="" /> </div>
                            <div class="col-3"> <label class="pay">CVC*</label> <input type="password" name="cvcpwd" placeholder="***" /> </div>
                        </div>
                        <div class="row">
                            <div class="col-3"> <label class="pay">Expiry Date*</label> </div>
                            <div class="col-9">
                                <select class="list-dt" id="month" name="expmonth">
                                    <option selected>Month</option>
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select> <select class="list-dt" id="year" name="expyear">
                                    <option selected>Year</option>
                                </select>
                            </div>
                        </div>
                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                </fieldset>
                <fieldset>
                    <div class="form-card">
                        <h2 class="fs-title">Other Apps</h2>
                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                </fieldset>
                <fieldset>
                    <div class="form-card">
                        <h2 class="fs-title">Drives/Mailboxes etc</h2>
                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="make_payment" class="next action-button" value="Confirm" />
                </fieldset>
                <fieldset>
                    <div class="form-card">
                        <h2 class="fs-title text-center">Success !</h2> <br><br>
                        <div class="row justify-content-center">
                            <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                        </div> <br><br>
                        <div class="row justify-content-center">
                            <div class="col-7 text-center">
                                <h5>You Have Successfully Signed Up</h5>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/RequestCreate1.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="~/js/RequestCreate1.js"></script>


}
